<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shooting diary</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShootingWebsite.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,700" />
</head>
<style>
    body::-webkit-scrollbar {
        display: none;
    }
</style>
<body>
    <div>
        <main role="main">
            @if (TempData["AlertSuccess"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
                    @Html.Raw(@TempData["AlertSuccess"])
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (TempData["AlertDanger"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
                    @Html.Raw(@TempData["AlertDanger"])
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @if (TempData["AlertWarning"] != null)
            {
                <div class="alert alert-warning alert-dismissible fade show mb-0" role="alert">
                    @Html.Raw(@TempData["AlertWarning"])
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="bg-black footer text-light">
        <div class="container">
            &copy; 2023 - Advance Ventures
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>